PFE Froggies/UserSettings/
PFE Froggies/Logs/
PFE Froggies/Library/
PFE Froggies/Temp/
PFE Froggies/.vs/
PFE Froggies/.vscode/
PFE Froggies/PFE Froggies.sln
PFE Froggies/.vsconfig
PFE Froggies/Assembly-CSharp-Editor.csproj
PFE Froggies/Assembly-CSharp.csproj
